body {
  background: var(--blue-100) url("../../assets/icons/pattern-background-desktop.svg") no-repeat top;
  background-size: 100dvw;
  padding-inline: 8px;
}

@media (max-width: 800px) {
  body {
    background-image: url("../../assets/icons/pattern-background-mobile.svg");
  }
}

main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 450px;
  background: var(--white);
  border-radius: 20px;
  box-shadow: 0 40px 40px 0px rgba(13, 48, 189, 0.1518);
}

.card-image img {
  border-radius: 20px 20px 0 0;
}


.card-content {
  padding: 48px 48px 43px 48px;
  text-align: center;
}

.card-description {
  margin-block: 16px;
}

.plan-details {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  align-items: center;
  background-color: var(--blue-50);
  border-radius: 11px;
  padding: 23px 24px;
  gap: 16px;
}

.annual-plan {
  text-align: left;
}

.payment {
  margin: 32px 0;
}

@media (max-width: 410px) {
  .card-content {
    padding: 32px 24px 26px 24px;
  }

  .plan-details {
    gap: 8px;
    padding: 16px;
    grid-template-columns: auto 1fr auto;
  }
}