.main-content {
  width: 100%;
  max-width: 763px;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: var(--white);
  border-radius: 32px;
}

.result-card {
  padding: 45px 54px;
  background: var(--gradient02);
  border-radius: 32px;
  display: grid;
  justify-items: center;
  gap: 32px;
}

.score-container {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradient01);
}

.score-total {
  opacity: 51.68%;
}

.result-status {
  display: grid;
  text-align: center;
  gap: 16px;
}

.result-status p:nth-child(even) {
  max-width: 25ch;
}

.summary-card {
  padding: 44px 40px;
}

.summary-list {
  padding-block: 32px;
  display: grid;
  gap: 16px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 19px;
  border-radius: 12px;
  position: relative;
}

.summary-score::after {
  content: " / 100";
  color: var(--navy-950);
  opacity: 50%;
}

.reaction {
  background-color: var(--red-50);
}

.memory {
  background-color: var(--yellow-50);
}

.verbal {
  background-color: var(--green-50);
}

.visual {
  background-color: var(--blue-50);
}

.summary-label {
  display: flex;
  gap: 16px;
}

@media (max-width: 767px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .result-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 32px 57px;
  }

  .result-card h2 {
    font: var(--textPreset05-b);
  }

  .score-container {
    width: 140px;
    height: 140px;
  }

  .result-title {
    font: var(--textPreset04);
  }

  .result-description {
    font: var(--textPreset06-m);
  }

  .summary-card h2 {
    font: var(--textPreset05-b);
  }

  .summary-item {
    padding-block: 17px;
  }

  .summary-label span,
  .summary-score {
    font: var(--textPreset06-m);
  }
}