*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --yellow: #F4D04E;
  --gray-950: #111111;
  --gray-500: #6B6B6B;
  --white: #FFFFFF;

  /* typography */
  --font-family: 'Figtree', sans-serif;
  --title: 800 24px/1.5 var(--font-family);
  --text: 400 16px/1.5 var(--font-family);
  --text-s: 500 14px/1.5 var(--font-family);
  --text-s-exb: 800 14px/1.5 var(--font-family);
}

@media (max-width: 400px) {
  :root {
    --title: 800 20px/1.5 var(--font-family);
    --text: 400 14px/1.5 var(--font-family);
    --text-s: 500 12px/1.5 var(--font-family);
    --text-s-exb: 800 12px/1.5 var(--font-family);
  }
}

body {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  color: var(--gray-950);
}

@media (max-width: 400px) {
  body {
    padding: 24px;
  }
}

span {
  font: var(--text-s-exb);
  color: var(--gray-950);
}