:root {
  /* Core colors */
  --white: #ffffff;
  --black: #000000;

  /* Grayscale */
  --gray-600: #717fa6;

  /* Accent colors */
  --purple-500: #766cf1;
  --blue-950: #1f2e55;
  --blue-700: #382ae1;
  --blue-150: #d6e1ff;
  --blue-100: #E0E8FF;
  --blue-50: #F7F9FF;
}

/* Text utility classes */
.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.gray-600 {
  color: var(--gray-600);
}

.purple-500 {
  color: var(--purple-500);
}

.blue-950 {
  color: var(--blue-950);
}

.blue-700 {
  color: var(--blue-700);
}

.blue-150 {
  color: var(--blue-150);
}

.blue-100 {
  color: var(--blue-100);
}

.blue-50 {
  color: var(--blue-50);
}