:root {
  /* cores */
  --color-black: #1c232b;
  --color-grey: #6c7289;
  --color-cream: #f2eae2;
  --color-white: #ffffff;
  --color-green-500: #3d8168;
  --color-green-700: #1a4032;

  --font-text: "Montserrat", sans-serif;
  --font-title: "Fraunces", serif;
  --text01: 700 3.2rem/1 var(--font-title);
  --text02: 700 1.4rem/1.1 var(--font-text);
  --text03: 500 1.4rem/1.6 var(--font-text);
  --text04: 500 1.2rem/1.2 var(--font-text);
  --text05: 500 1.3rem/1.2 var(--font-text);
}

.color-black {
  color: var(--color-black);
}
.color-grey {
  color: var(--color-grey);
}
.color-cream {
  color: var(--color-cream);
}
.color-white {
  color: var(--color-white);
}
.color-green-500 {
  color: var(--color-green-500);
}
.color-green-700 {
  color: var(--color-green-700);
}
.text01 {
  font: var(--text01);
}
.text02 {
  font: var(--text02);
}
.text03 {
  font: var(--text03);
}
.text04 {
  font: var(--text04);
  letter-spacing: 5px;
}
.text05 {
  font: var(--text05);
}
