*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;

  --green: #c4f82a;
  --white: #fff;

  /* Tipography */
  --font-family: "Inter", sans-serif;
  --title: 500 24px/1.5 var(--font-family), sans-serif;
  --p_regular: normal 14px/1.5 var(--font-family), sans-serif;
  --p_bold: 700 14px/1.5 var(--font-family), sans-serif;
}

h1 {
  font: var(--title);
  color: var(--white);
}

.p_regular {
  font: var(--p_regular);
}

.p_bold {
  font: var(--p_bold);
}

body {
  background-color: var(--grey-900);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

@media (max-width: 400px) {
  body {
    padding: 24px;
  }

  .infos {
    text-align: center;
  }

  blockquote {
    text-align: center;
  }
}